<div class="row justify-content-center mb-5">
	<div class="col-lg">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<input type="text" class="form-control" maxlength="30" id="validateField" name="idtugas" data-target="validateField" placeholder="" value="@ViewBag.tgs_idtugas" hidden>
				<strong><span name="namatugas"></span>&nbsp;<span name="deadline"></span></strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">No Pendaftaran</th>
							<th scope="col">Nama</th>
							<th scope="col">Waktu Unggah</th>
							<th scope="col">Aksi</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="unggahTugasLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#0059ab;">
				<h5 class="modal-title text-white" id="unggahTugasLabel">Unggah Tugas</h5>
				<button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-center">Format Pengumpulan File Hanya Mendukung .zip .rar .doc .txt</p>
				<div class="input-group mb-4">
					<input type="file" class="form-control" id="tugas" name="tugas" data-target="validateField" placeholder="" accept=".zip, .rar, .doc, .txt">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Tutup</button>
				<button type="button" class="btn text-white" style="background-color:#0059ab;" onclick="unggahTugas(event)">Simpan</button>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	var deadlineDate;
	var currentDate = new Date();
	var tugas = null;

	$(document).ready(function () {
		loadDataTugas();
		loadDataAnggota()
	});

	function formatTanggal(dateString) {
		const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
		const formattedDate = new Date(dateString).toLocaleDateString('id-ID', options);
		return formattedDate;
	}

	function formatJam(dateString) {
		const options = { hour: 'numeric', minute: 'numeric', hour12: false };
		const formattedTime = new Date(dateString).toLocaleTimeString('id-ID', options);
		return formattedTime;
	}

	function loadDataTugas() {
		var idtugas = document.getElementsByName("idtugas")[0];
		var namatugas = document.getElementsByName("namatugas")[0];
		var deadline = document.getElementsByName("deadline")[0];

		var hostname = "https://localhost:7087/";
		var url = hostname + "datatugas?tgs_idtugas=" + idtugas.value;
		var method = "GET";

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;
				idtugas.value = item.tgs_idtugas;
				namatugas.textContent = item.tgs_namatugas;
				deadline.textContent = '[Batas Waktu Pengumpulan Tugas : ' + formatTanggal(item.tgs_deadline) + ' | ' + formatJam(item.tgs_deadline) + ' WIB]';
				deadlineDate = new Date(item.tgs_deadline);
			},
			error: function (error) {
				console.error("Error fetching data:", error);
			},
		});
	}

	function getCurrentDateTime() {
		var now = new Date();
		var year = now.getFullYear();
		var month = padZero(now.getMonth() + 1);  // Months are zero-based
		var day = padZero(now.getDate());
		var hours = padZero(now.getHours());
		var minutes = padZero(now.getMinutes());
		var seconds = padZero(now.getSeconds());

		var formattedDateTime = `${year}-${month}-${day}T${hours}:${minutes}:${seconds}`;
		return formattedDateTime;
	}

	function padZero(value) {
		return value < 10 ? '0' + value : value;
	}

	function unggahTugas(event) {
		event.preventDefault();

		var idtugas = "@ViewBag.tgs_idtugas";
		var nopendaftaran = "@ViewBag.UserId";
		var waktupengumpulan = getCurrentDateTime()
		var tugasInput = document.getElementsByName("tugas")[0];
		var file = tugasInput.files[0];

		function generateUUID() {
			var randomNumber = Math.floor(Math.random() * (999 - 100 + 1)) + 100;

			var uuid = 'PKKMB_' + randomNumber;

			return uuid;
		}
		var uniqueFileName = generateUUID() + '_' + file.name;

		if (!file) {
			location.reload()
		}

		var hostname = "https://localhost:7087/";
		var method;
		var url;

		if (tugas == null) {
			method = "POST";
			url = hostname + "Tugas/UploadTugas?dts_iddetail=" + idtugas + "&dts_nopendaftaran=" + nopendaftaran + "&dts_waktupengumpulan=" + waktupengumpulan + "&dts_nilaitugas=0" + "&dts_idpkkmb=" + idpkkmb;
		} else {
			method = "PUT";
			url = hostname + "Tugas/UbahTugas?dts_iddetail=" + idtugas + "&dts_nopendaftaran=" + nopendaftaran + "&dts_waktupengumpulan=" + waktupengumpulan + "&dts_nilaitugas=0" + "&dts_idpkkmb=" + idpkkmb;
		}

		var data = new FormData();
		data.append("file", file, uniqueFileName);

		$.ajax({
			url: url,
			method: method,
			data: data,
			processData: false,
			contentType: false,
			success: function (data) {
				Swal.fire({
					icon: "success",
					title: "Berhasil Mengunggah Tugas",
					showConfirmButton: true,
					showClass: {
						popup: 'animate__animated animate__fadeInDown'
					},
					hideClass: {
						popup: 'animate__animated animate__fadeOutUp'
					}
				}).then(() => {
					location.reload();
				});
			},
			error: function (xhr, status) {
				console.error("AJAX request error:", status);
				console.log("Server response:", xhr.responseJSON);
			},
		});
	}

	function loadDataAnggota() {
		var idtugas = document.getElementsByName("idtugas")[0];
		var nopendaftaran = "@ViewBag.UserId";

		var hostname = "https://localhost:7087/";
		var url = hostname + "Tugas/DataDetailTugas?dts_iddetail=" + idtugas.value + "&dts_nopendaftaran=" + nopendaftaran;
		var method = "GET";
		var counter = 1;
		var detailData = []

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data
				console.log(data.status)
				var formattedDate = formatTanggal(item.dts_waktupengumpulan);
				var formattedTime = formatJam(item.dts_waktupengumpulan);
				tugas = item.dts_filetugas;
				var fileName = item.dts_filetugas.split('\\').pop();
				var downloadTugas = '<a href="#" style="background-color: #3a4584 !important;" class="btn btn-primary download-link" data-file="' + fileName + '"><i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Unduh ' + fileName + '"></i></a>';
				var unggahTugas = ''
				if (currentDate <= deadlineDate) {
					unggahTugas = '<button style="background-color: #3a4584 !important;" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">' +
						'<i class="fa fa-upload" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Unggah Tugas"></i>' +
						'</button>';
				}
				var aksi = downloadTugas + unggahTugas;
				detailData.push([counter, '@ViewBag.UserId', '@ViewBag.UserName', formattedDate + ', ' + formattedTime + ' WIB', aksi])

				$('#tabellist').DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});

				$('.download-link').on('click', function (e) {
					e.preventDefault();
					var fileName = $(this).data('file');
					downloadFile(fileName);
				});
			},
			error: function (xhr, status) {
				var downloadTugas = ''
				var unggahTugas = ''
				if (currentDate <= deadlineDate) {
					unggahTugas = '<button style="background-color: #3a4584 !important;" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">' +
						'<i class="fa fa-upload" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Unggah Tugas"></i>' +
						'</button>';
				}
				var aksi = downloadTugas + unggahTugas;
				detailData.push([counter, '@ViewBag.UserId', '@ViewBag.UserName', null, aksi])
				$('#tabellist').DataTable({
					data: detailData,
					language: {
						zeroRecords: "Data Tidak Ditemukan"
					}
				});
			},
		});
	}

	function downloadFile(fileName) {
		var url = "https://localhost:7087/Tugas/DownloadTugasMahasiswa";

		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(fileName),
		}).then(response => {
			if (!response.ok) {
				throw new Error('Network response was not ok');
			}
			return response.blob();
		}).then(blob => {
			var url = URL.createObjectURL(blob);
			var a = document.createElement('a');
			a.href = url;
			a.download = fileName;
			document.body.appendChild(a);
			a.click();
			document.body.removeChild(a);
		}).catch(error => {
			console.error('There was a problem with the fetch operation:', error);
		});
	}
</script>
