<div class="row">
	<div class="col-lg-4">
		@if (@ViewBag.UserRole == "KSK")
		{
			<div class="my-3" style="margin-top: 40px;">
				<a class="btn" style="background-color:#0059ab; color:white;" asp-controller="jadwal" asp-action="TambahJadwal">Tambah Jadwal</a>
			</div>
		}
	</div>
	<div class="col-lg-4 float-end mb-3">
	</div>
	<div class="col-lg-4 float-end mb-3">
		<div class="form-floating">
			<select class="form-select" id="floatingSelect" name="hari" aria-label="">
				<option selected disabled>Pilih Hari</option>
				<option value="Senin">Senin</option>
				<option value="Selasa">Selasa</option>
				<option value="Rabu">Rabu</option>
				<option value="Kamis">Kamis</option>
				<option value="Jumat">Jumat</option>
				<option value="Semua">Semua Hari</option>
			</select>
			<label for="floatingSelect">Hari</label>
		</div>
	</div>
</div>

<div class="row justify-content-center mb-5">
	<div class="col-lg semua">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Jadwal PKKMB</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellist">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg mb-4 senin">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Hari Ke - 1 : Senin</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellistsenin">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg mb-4 selasa">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Hari Ke - 2 : Selasa</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellistselasa">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg mb-4 rabu">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Hari Ke - 3 : Rabu</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellistrabu">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg mb-4 kamis">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Hari Ke - 4 : Kamis</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellistkamis">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<div class="col-lg mb-4 jumat">
		<div class="card">
			<h5 class="card-header white-text py-4 mb-4" style="background-color: #0059AB;">
				<strong>Hari Ke - 5 : Jumat</strong>
			</h5>
			<div class="card-body pt-1 scrollable-table">
				<table class="table table-hover table-sm" style="width:100%; border: 2px solid #dee2e6; border-radius: 10px; overflow: hidden;" id="tabellistjumat">
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">Tanggal</th>
							<th scope="col">Waktu</th>
							<th scope="col">Kegiatan</th>
							<th scope="col">Tempat</th>
							@if (@ViewBag.UserRole == "KSK")
							{
								<th scope="col">Aksi</th>
							}
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>

<script>
	var idpkkmb = sessionStorage.getItem('id_pkkmb')

	$('.senin').hide();
	$('.selasa').hide();
	$('.rabu').hide();
	$('.kamis').hide();
	$('.jumat').hide();
	$('.semua').show();
	//var tabel = '#tabellist';

	$(document).ready(function () {
		loadTable('Semua');

		$('[name="hari"]').change(function () {
			var selectedHari = $(this).val();

			// Sembunyikan semua tabel terlebih dahulu
			$('.semua, .senin, .selasa, .rabu, .kamis, .jumat').hide();

			// Tampilkan tabel yang sesuai dengan pilihan hari
			if (selectedHari === 'Senin') {
				$('.senin').show();
			} else if (selectedHari === 'Selasa') {
				$('.selasa').show();
			} else if (selectedHari === 'Rabu') {
				$('.rabu').show();
			} else if (selectedHari === 'Kamis') {
				$('.kamis').show();
			} else if (selectedHari === 'Jumat') {
				$('.jumat').show();
			} else if (selectedHari === 'Semua') {
				$('.semua').show();
			}

			// Memuat data baru sesuai dengan hari yang dipilih
			loadTable(selectedHari);
		});
	});

	function loadTable(selectedHari) {
		var hostname = "https://localhost:7087/";
		var url = hostname + "GetAllJadwal?jdl_idpkkmb=" + idpkkmb;
		var method = "GET";
		var counter = 1;
		var detailData = [];

		// Pilih tabel berdasarkan hari yang dipilih
		var tabelId = '';
		if (selectedHari === 'Senin') {
			tabelId = '#tabellistsenin';
		} else if (selectedHari === 'Selasa') {
			tabelId = '#tabellistselasa';
		} else if (selectedHari === 'Rabu') {
			tabelId = '#tabellistrabu';
		} else if (selectedHari === 'Kamis') {
			tabelId = '#tabellistkamis';
		} else if (selectedHari === 'Jumat') {
			tabelId = '#tabellistjumat';
		} else {
			tabelId = '#tabellist'; // Default untuk 'Semua'
		}

		$.ajax({
			url: url,
			method: method,
			contentType: "application/json",
			success: function (data) {
				var item = data.data;

				// Gunakan filter untuk hanya menampilkan data sesuai dengan hari yang dipilih
				var filteredData = item.filter(function (val) {
					var jadwalDate = new Date(val.jdl_tglpelaksanaan);
					var formattedDate = getFormattedDate(jadwalDate);
					var hari = extractDayOfWeek(formattedDate);
					return selectedHari === 'Semua' || hari === selectedHari;
				});

				$.each(filteredData, function (key, val) {
					var aksi = '<a style="background-color: #3a4584 !important;" class="btn btn-primary" href="/Jadwal/Ubah/' + val.jdl_idjadwal + '"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>';
					var jadwalDate = new Date(val.jdl_tglpelaksanaan);
					var formattedDate = getFormattedDate(jadwalDate);
					var hari = extractDayOfWeek(formattedDate);

					if ("@ViewBag.UserRole" == "KSK") {
						detailData.push([counter, formattedDate, val.jdl_waktupelaksanaan, val.jdl_agenda, val.jdl_tempat, aksi]);
					} else {
						detailData.push([counter, formattedDate, val.jdl_waktupelaksanaan, val.jdl_agenda, val.jdl_tempat]);
					}

					counter++;
				});

				// Hapus dan inisialisasi kembali DataTable untuk mencegah masalah ganda
				$(tabelId).DataTable().destroy();
				$(tabelId).DataTable({
					data: detailData,
					language: {
						search: "Cari :",
						zeroRecords: "Data Tidak Ditemukan",
						sLengthMenu: "Menampilkan _MENU_ data",
						info: "Menampilkan data ke - _START_ sampai _END_ dari _TOTAL_ data",
						infoEmpty: "Menampilkan 0 data",
						infoFiltered: "(Difilter dari _MAX_ total data)",
						paginate: {
							previous: "Sebelumnya",
							next: "Berikutnya"
						}
					}
				});
			},
		});
	}

	function getFormattedDate(date) {
		var days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
		var months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];

		var formattedDate = days[date.getDay()] + ', ' +
			date.getDate() + ' ' +
			months[date.getMonth()] + ' ' +
			date.getFullYear();

		return formattedDate;
	}

	// Function to extract the day of the week
	function extractDayOfWeek(dateString) {
		var dayPart = dateString.split(',')[0];
		var trimmedDay = dayPart.trim();
		return trimmedDay;
	}
</script>
